* {
    margin: 0;
    padding: 0;
}

a, li {
    text-decoration: none;
    list-style-type: none;
}

.Note {
    border: 1px solid #ccc;
    display:inline;
    cursor:pointer ;

}

.Note>button {
    margin-top:10px;
    padding:5px 10px;
}

input:active {
    outline: none;
}

.push-main {
    background:yellow;
    opacity:1;
}